<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Splitter</title>
    <link rel="icon" href="https://fav.farm/📑" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src=" https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js "></script>
  </head>
  <body>
    <section class="flex min-h-screen flex-col items-center justify-center bg-gray-800 py-4">
      <span class="mb-2.5 text-xl lg:text-4xl">📑</span>
      <h1 class="mb-6 text-center text-xl font-bold text-white lg:text-3xl">Split PDF with Custom Name</h1>
      <form class="flex flex-col items-center justify-center gap-5 rounded-xl bg-gray-900/45 p-3 lg:flex-row" action="/split" method="POST" enctype="multipart/form-data">
        <div class="">
          <label for="pdf" class="bg-gray-100/ flex cursor-pointer flex-col items-center justify-center rounded border-2 border-dashed border-gray-500 p-4 text-center text-sm font-semibold text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="mb-2 w-32 animate-pulse fill-gray-500" viewBox="0 0 32 32">
              <path d="M23.75 11.044a7.99 7.99 0 0 0-15.5-.009A8 8 0 0 0 9 27h3a1 1 0 0 0 0-2H9a6 6 0 0 1-.035-12 1.038 1.038 0 0 0 1.1-.854 5.991 5.991 0 0 1 11.862 0A1.08 1.08 0 0 0 23 13a6 6 0 0 1 0 12h-3a1 1 0 0 0 0 2h3a8 8 0 0 0 .75-15.956z" />
              <path d="M20.293 19.707a1 1 0 0 0 1.414-1.414l-5-5a1 1 0 0 0-1.414 0l-5 5a1 1 0 0 0 1.414 1.414L15 16.414V29a1 1 0 0 0 2 0V16.414z" />
            </svg>
            <span class="mt-2 w-60 truncate text-center text-sm text-gray-200" id="fileName">Upload file</span>
            <input type="file" name="pdf" id="pdf" class="w-full text-sm text-gray-500 file:mr-4 file:rounded-md file:border-0 file:bg-gray-300 file:px-4 file:py-2 file:text-gray-700 hover:file:bg-gray-200" required />
            <p class="my-2 animate-pulse text-xs text-gray-400">Only PDF files are allowed.</p>
          </label>
        </div>

        <div x-data="{ count: 0 }">
          <div class="flex flex-col rounded-lg border border-gray-200 bg-gray-50 dark:border-gray-600 dark:bg-gray-700">
            <div class="flex items-center justify-between border-b border-gray-200 px-3 py-2 dark:border-gray-600">
              <p class="text-center font-mono text-white">Enter names (one per line)</p>
              <span x-text="count" class="rounded-md bg-gray-800 px-3 py-1 text-center text-white">0</span>
            </div>
            <div class="bg-white p-2 dark:bg-gray-800">
              <textarea name="names" id="names" rows="4" cols="50" x-on:input="count = $event.target.value.split('\n').filter(line => line.trim() !== '').length" class="h-full min-h-[200px] w-full border-0 bg-white text-sm text-gray-900 focus:ring-0 lg:min-h-[350px] dark:bg-gray-800 dark:text-white dark:placeholder-gray-400" placeholder="Enter name page..."></textarea>
            </div>
            <div class="border-t border-gray-200 px-3 py-2 dark:border-gray-600">
              <button type="submit" id="generateBtn" class="w-full rounded-lg bg-blue-700 px-4 py-2.5 text-xs font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900" onclick="showLoading(event)">Generate PDF</button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </body>
</html>
